.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.togglesContainer{
  border-right: #7D4CDB 0.1rem solid;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 5%;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
}
